/node_modules
/lol-ob
overwolf-app
config.json
discordleaguebotv1/token_loc
discordleaguebotv1/settings.json
discordleaguebotv1/bin/
discordleaguebotv1/recordings/
.metadata/
.recommenders/
discordleaguebotv1/.settings/
discordleaguebotv1/.classpath
discordleaguebotv1/.project