server/node_modules
/lol-ob
config.json
server/token_loc
server/names
server/settings.json
server/config
discordleaguebotv1/bin/
server/recordings/
.metadata/
.recommenders/
discordleaguebotv1/.settings/
discordleaguebotv1/.metadata/
discordleaguebotv1/.classpath
discordleaguebotv1/.project
discordleaguebotv1/names
discordleaguebotv1/LeagueReplay.jardesc
audiosync/*.db
audiosync/*.opendb
audiosync/Debug
audiosync/ipch/
token_loc
names
LeagueReplayComplete.jar
recording/
test_*/
